@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Amatic+SC:wght@400;700&family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Amatic+SC:wght@400;700&family=Marcellus&family=Quintessential&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

body{
  background-image: linear-gradient(lightgoldenrodyellow, #f3dcac);

}

img{
  width: 100%;
  height: auto;
}

.background{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -0%);
  opacity: 0.25;
  max-width: 500px;
  z-index: -1;
}

.how-to-popup p {
  color: black;
  font-family: 'Marcellus';
  padding-bottom: 5px;
}

p, a{
  font-family: "Quintessential";
  margin: 0px;
}

label{
  font-family: "Almendra";
  margin: 5px;
  font-size: 18px;
}

button, input[type="submit"]{
  background-color: #d1bc8e;
  border: 2px solid maroon;
  border-radius: 15px;
}

button:hover, input[type="submit"]:hover{
  box-shadow: 2px 2px 5px #41351d;
  text-shadow: 1px 1px 5px #41351d;
  cursor: pointer;
}

select, #spell-bonus{
  font-family: "Almendra";
}

select:hover, #spell-bonus:hover{
  cursor: pointer;
}

h2{
  font-family: "Almendra";
  margin: 0px;
  color: #41351d;
}

header{
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid goldenrod;
}

header p {
  text-align: center;
  color: maroon;
  font-size: 18px;
}

header p:hover{
  cursor: pointer;
}

header img{
  max-width: 500px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.characteristics-input{
  margin: 5px;
  padding: 20px;
  border-bottom: 2px solid goldenrod;
}

.characteristics-input form{
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.characteristics-input form #spell-bonus{
  max-width: 50px;
}

.spell-select{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.characteristics-shown{
  text-align: center;
  margin: 20px;
}

.characteristics-shown p{
  display: inline-block;
}

.characteristics-shown button{
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.spells-section{
  min-height: 80vh;
}

.character-spell-list{
  margin: 10px;
  border-top: 2px solid goldenrod;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
}

.spell-section{
  margin: 10px;
  width: 200px;
}

.slots-and-names{
  border: 2px solid black;
  border-radius: 15px;
  max-width: 200px;
  background-color: white;
  padding: 5px;
}

.slots-and-names p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.slots {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.spell-slots{
  align-self: center;
}

input[type="checkbox"]{
  margin-left: 5px;
  margin-right: 5px;
}

.spell-names p {
  border-bottom: 1px solid black;
}

.spell-popup, .how-to-popup{
  background-color: #d1bc8e;
  margin: auto;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 15px;
  max-width: 450px;
  padding: 10px;
}

.how-to-popup{
  position: absolute;
  top: 30vh;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -0%);
  max-width: 600px;
  min-width: 80vw;
  z-index: 2;
  
}


.clickable:hover{
  cursor: pointer;
  color: rgb(197, 142, 2);
}



.spell-popup-header, .how-to-header{
  border-bottom: 1px solid black;
  position: relative;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.spell-popup p {
  margin-top: 5px;
}

.spell-popup h2, .how-to-popup h2{
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.description{
  color: black;
  font-family: 'Marcellus';
}

.close{
  position: absolute;
  padding-bottom: 2px;
  top: 3%;
  left: 90%;
}

.close:hover{
  cursor: pointer;
  color: red;
}

.hidden{
  display: none;
}

footer{
  margin-top: 10px;
  text-align: center;
}